__pycache__
output
check_update.py
config.ini
pyinstaller_script.bat
autopowersaverinstaller.ifp
pyinstaller_config.json
build
dist
build_script.bat
Auto Power Saver.spec
.vscode/settings.json
v2_pyinstaller_config.json
tests/test_strategy.txt
test_strategy.txt
search_results.txt
resources/configs/v3_pyinstaller_config.json
*.exe
.vscode/
